<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
</head>
<body>
<div>
  <form name=f1 method="POST" action="/api/Ethereum">     
      <label>Ethereum Address :</label><input name="Ether_address" type="text" value="" />
      <label>Hyperledger server Address :</label><input name="Hyper_address" type="text" value="" /> <br>
      <br><label>Stack_id :</label><input name="Stack_id" type="text" value="" /> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label> Bearer Token :</label><input name="Bearer" type="text" value="" /> <br>
      <br><input type="submit" value="submit Ether_address" />
      &nbsp;&nbsp;&nbsp;<input type='submit' value='submit Hyper_address'
	               onclick="f1.action='/api/Hyperledger'">
	 &nbsp;&nbsp;&nbsp; <input type='submit' value='submit Stack_id'
	               onclick="f1.action='/api/Stackoverflow'">
  </form>
</div>
</body>
</html>
